probstuecke-data/schema/probstuecke-customization.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<TEI xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>MEI Customization for Probstücke Digital</title>
        <respStmt>
          <resp>Authored by</resp>
          <name xml:id="NP">Niels Pfeffer</name>
        </respStmt>
      </titleStmt>
      <publicationStmt>
        <p />
      </publicationStmt>
      <sourceDesc>
        <p />
      </sourceDesc>
    </fileDesc>
    <revisionDesc>
      <change n="1" when="2022-03-06" who="#NP">
        <desc>Creation of the initial ODD.</desc>
      </change>
    </revisionDesc>
  </teiHeader>
  <text>
    <front>
      <div>
        <head>Music</head>
        <p>
          The original clefs as well as clef changes are preserved in the encodings.
        </p>
        
        <p>
          Accidentals in the source that may be omitted in modern scores are enclosed in an <gi>orig</gi> element.
          Accidentals that are missing for a modern score are enclosed in a <gi>reg</gi> element, which itself is
          contained within a <gi>supplied</gi>.
        </p>
        
        <p>
          Original double bar lines at the end of a piece are adapted to the modern practice.
        </p>
        
        <p>
          Original stem directions are not explicitly encoded.
        </p>
        
        <p>
          When clear mistakes occur in the original print, both, the original as well as a correction
          should be encoded, using a <gi>sic</gi> and a <gi>corr</gi> element enclosed in a
          <gi>choice</gi> element. The <gi>corr</gi> element should contain a <att>resp</att> attribute.
        </p>
        
        <p>
          In the original print, accidentals are printed sometimes before and sometimes
          behind the figure (e.g. ♭6 or 6♭).  The original form is preserved in an <gi>orig</gi> element inside
          a <gi>choice</gi> element and <gi>reg</gi> is used to unify them in the modern form (accidental behind figure).
          The responsibility for the regularization should be stated with the <att>resp</att> attribute.
          
          <egXML xmlns="http://www.tei-c.org/ns/Examples">
            <choice>
              <reg resp="#rettinghaus">
                <f>6♭</f>
              </reg>
              <orig>
                <f>♭6</f>
              </orig>
            </choice>
          </egXML>
        </p>
        
        <p>
          In general, editorial additions are marked as <gi>supplied</gi>, where the <att>resp</att> attribute
          should be used to indicate the responsible editor.
        </p>
      </div>
    </front>
    <body>
      <!-- Limit the set of possible start elements -->
      <schemaSpec ident="mei" ns="http://www.music-encoding.org/ns/mei" prefix="mei_" start="mei meiHead meiCorpus music">
        <!-- Declare MEI and XLink namespaces for use in Schematron -->
        <constraintSpec ident="set_ns" scheme="isoschematron" mode="add">
          <constraint>
            <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="mei" uri="http://www.music-encoding.org/ns/mei" />
            <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="xlink" uri="http://www.w3.org/1999/xlink" />
          </constraint>
        </constraintSpec>

        <moduleRef key="MEI" />
        <moduleRef key="MEI.analytical" />
        <moduleRef key="MEI.cmn" except="arpeg attacca beamSpan beatRpt bend bTrem fTrem gliss hairpin lv harpPedal halfmRpt meterSigGrp mNum mRpt mRpt2 multiRest multiRpt octave oLayer ossia oStaff pedal reh" />
        <moduleRef key="MEI.cmnOrnaments" />
        <moduleRef key="MEI.critapp" />
        <moduleRef key="MEI.externalsymbols" />
        <moduleRef key="MEI.edittrans" />
        <moduleRef key="MEI.facsimile" />
        <moduleRef key="MEI.figtable" include="graphic" />
        <moduleRef key="MEI.gestural" />
        <moduleRef key="MEI.harmony" include="f fb harm" />
        <moduleRef key="MEI.header" />

        <!-- Including this module, since e.g. Probstück 10 contains an aria with lyrics -->
        <moduleRef key="MEI.lyrics" />

        <moduleRef key="MEI.midi" except="noteOff midi metaText marker instrGrp instrDef cue hex chanPr chan cc noteOn port prog seqNum trkName vel" />
        <moduleRef key="MEI.namesdates" />
        <moduleRef key="MEI.ptrref" />
        <moduleRef key="MEI.shared" except="actor ambitus ambNote analytic arranger artic caesura caption castGrp castItem castList cb colLayout clefGrp contributor creation dedicatee depth funder group height imprint lb lg librettist lyricist monogr eventList event ending dynam num pad parts phrase physLoc recipient relatedItem relation relationList repository speaker sponsor stack symbol width" />
        <moduleRef key="MEI.visual" />

        <!-- Include SVG -->
        <moduleRef url="https://www.tei-c.org/release/xml/tei/custom/schema/relaxng/svg11.rng" prefix="svg_">
          <content>
            <rng:define name="mei_model.graphicLike" combine="choice">
              <rng:ref name="svg_svg" />
            </rng:define>
          </content>
        </moduleRef>

        <classSpec type="atts" ident="att.color" mode="delete" />
        <classSpec type="atts" ident="att.midiNumber" mode="delete" />
        <classSpec type="atts" ident="att.midiInstrument" mode="delete" />
        <classSpec type="atts" ident="att.midi.log" mode="delete" />
        <classSpec type="atts" ident="att.midi.event" mode="delete" />
        <classSpec type="atts" ident="att.instrumentIdent" mode="delete" />
        <classSpec type="atts" ident="att.instrDef.log" mode="delete" />
        <classSpec type="atts" ident="att.channelized" mode="delete" />
        <classSpec type="atts" ident="att.midiValue" mode="delete" />
        <classSpec type="atts" ident="att.midiValue2" mode="delete" />
        <classSpec type="atts" ident="att.midiVelocity" mode="delete" />
        <classSpec type="atts" ident="att.timeBase" mode="delete" />
        <classSpec type="atts" ident="att.tabular" mode="delete" />
        <classSpec type="atts" ident="att.symbol.vis" mode="delete" />

        <classSpec ident="model.noteModifierLike" module="MEI.shared" type="model" mode="replace">
          <desc>Groups elements that modify note-like features.</desc>
          <classes>
            <memberOf key="model.editTransPart.music" />
          </classes>
        </classSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
